h1{
	color: #F400DD;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/
	border: 9px solid purple;
}
li{
	color: black;
}
h4{
	background: rgb(255,100,80);
	color: rgba(60,180,200,.8);
}
body{
	background: green;
	/*background: url(https://hdqwalls.com/download/brooklyn-bridge-blue-sky-buildings-8k-5f-7680x4320.jpg);
	background-size: cover;
	background-repeat: no-repeat;*/
}